<div class="row">
	<% if @movie["Response"] == "True" %>
	<div class="large-4 columns">
		<div class="poster">
		<a class="th" href="<%= @movie['Poster'] %>">
		<img src="<%= @movie['Poster'] %>" >
		</a>
		</div>
	</div>
	<div class="large-6 columns">
		<h1><%= @movie["Title"] %></h1>
		<p><%= @movie['Year'] %></p>
		<p><%= @movie["Plot"] %></p>
	</div>
	<div class="large-2 columns panel">
		<h2>Info</h2>

		<h3><%= @movie["Title"] %></h3>
		<strong>Released:</strong>
		<p><%= @movie['Released'] %></p>

		<strong>Directors:</strong>
		<ul class="no-bullet">
		<% @directors.each do |d| %>
			<li><%= d %> </li>
		<% end %>
		</ul>

		<strong>Writers:</strong>
		<ul class="no-bullet">
		<% @writers.each do |w| %>
			<li><%= w %> </li>
		<% end %>
		</ul>

		<strong>Actors:</strong>
		<ul class="no-bullet">
		<% @actors.each do |i| %>
			<li><%= i %></li>
		<% end %>
		</ul>

		<strong>Genres:</strong>
		<ul class="no-bullet">
		<% @genres.each do |g| %>
			<li><%= g %> </li>
		<% end %>
		</ul>
		<strong>Runtime:</strong>
		<p><%= @movie["Runtime"] %></p>
		<strong>IMDB rating:</strong>
		<p><%= @movie["imdbRating"] %></p>
	</div>

	<% else %>
		<h2>No matching movie found, sorry.</h2>
	<% end %>

</div>