<div class="row">
	<% if @movie["Response"] == "True" %>
	<div class="large-3 columns">
		<div class="poster">
		<a class="th" href="<%= @movie['Poster'] %>">
		<img src="<%= @movie['Poster'] %>" >
		</a>
		</div>
	</div>
	<div class="large-6 columns">
		<h1><%= @movie["Title"] %></h1>
		<p><%= @movie['Year'] %></p>
		<p><%= @movie["Plot"] %></p>
	</div>
	<div class="large-3 columns">
		<h2>Movie info</h2>

		<h3><%= @movie["Title"] %></h3>
		<h4>Released:</h4>
		<p><%= @movie['Released'] %></p>

		<h4>Directors:</h4>
		<ul>
		<% @directors.each do |d| %>
			<li><%= d %> </li>
		<% end %>
		</ul>

		<h4>Writers:</h4>
		<ul>
		<% @writers.each do |w| %>
			<li><%= w %> </li>
		<% end %>
		</ul>

		<h4>Actors:</h4>
		<ul>
		<% @actors.each do |i| %>
			<li><%= i %></li>
		<% end %>
		</ul>

		<h4>Genres:</h4>
		<ul>
		<% @genres.each do |g| %>
			<li><%= g %> </li>
		<% end %>
		</ul>
		<h4>Runtime:</h4>
		<p><%= @movie["Runtime"] %></p>
	</div>

	<% else %>
		<h2>No matching movie found, sorry.</h2>
	<% end %>

</div>