<div class="row">
	<div class="large-4 columns">
		<div class="poster">
		<a class="th" href="<%= @movie.poster %>">
		<img src="<%= @movie.poster %>" >
		</a>
		</div>
	</div>
	<div class="large-6 columns">
		<h1><%= @movie.title %></h1>
		<p><%= @movie.year %></p>
		<p><%= @movie.plot %></p>
		<% if logged_in? %>
		<hr>
		<div>
			<%= link_to "Review this movie", new_movie_review_path(@movie) %>
		</div>
		<div>
			<%= link_to "Show reviews for this movie", movie_reviews_path(@movie) %>
		</div>
	<% end %>
	</div>
	<div class="large-2 columns panel">
		<%= render 'stats' %>
	</div>
</div>