<div class="row">
	<div class="large-3 column">
		<h3><%= @user.name %></h3>
		<p><%= @user.email%></p>
		<%= render 'users/stats' %>
	</div>
	<div class="large-9 column">
		<%= render 'follow_form' if logged_in?%>
		<ul class="no-bullet">
		<%= render @user.microposts %>
		</ul>
	</div>
</div>